<div class="container-fluid">
  <div class="row-fluid">
    <h1>Transactions</h1>
  </div>
  <div class="row-fluid">
    <table class="transaction-list table table-striped table-bordered">
      <thead>
        <tr>
          <td>Date</td>
          <td>Description</td>
          <td>Category</td>
          <td>Amount</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="transaction in transactions">
          <td class="col-md-2">{{ transaction.date }}<i ng-hide="transaction.date!='pending'" class="glyphicon glyphicon-refresh"></i></td>
          <td class="col-md-3">{{ transaction.desc.short }}</td>
          <td class="col-md-3">{{ transaction.category }}</td>
          <td class="col-md-2">{{ transaction.amount }}</td>
          <td class="col-md-2">
            <a class="btn btn-info" href="#"  ng-click="disputeTransaction(transaction)" ng-if="transaction.dispute==false">
              <i class="glyphicon glyphicon-question-sign"></i>
              Dispute
            </a>
            <a class="btn btn-danger" href="#"  ng-click="cancelDisputeTransaction(transaction)" ng-if="transaction.dispute==true">
              <i class="glyphicon glyphicon-ok-sign"></i>
              Cancel Dispute
            </a>

          </td>
        </tr>
      </tbody>
    </table>

    <a href="/" class="btn btn-default">&lt; Home</a>
  </div>
</div>
